.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 28px;
  line-height: 24px;
  border-radius: 2px;
}

.button:hover {
  opacity: 0.8; 
}

.button:active {
  transition-delay: 0s; 
}
